.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bill-container{
  height: 700px;
  width: 700px;
  margin-top: 5%;
  margin-left: 37%;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.balance{
  font-weight: bold;
  font-size: 100px;
}

.namingCon{
  display: flex;
}

.nameCol{
  display: flex;
  flex-direction: row;
  position: relative;
  top:auto;
  left: 20px;
  font-weight: bolder;
}

.priceCol{
  display: flex;
  flex-direction: row;
  position: relative;
  top: auto;
  left: 600px;
  font-weight: bolder;
}

.billName{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 305px;
  bottom: auto;
}

.billAmount{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 300px;
  top: auto;
  bottom: 55px;
}

#addBill{
  display: none;
}

#closeBill{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
