.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bill-container{
  height: 700px;
  width: 700px;
  margin-top: 5%;
  margin-left: 37%;
  background-color: gray;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.balance{
  font-weight: bold;
  font-size: 100px;
}

.nameCol{
  display: table-column;
  position: relative;
  bottom: 320px;
  right: 260px;
  font-weight: bolder;
}

.billName{
  display: grid;
  position: relative;
  bottom: 190px;
  right: 320px;
  font-weight: bolder;
}

#addBill{
  display: none;
}

#closeBill{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
