.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Bill-container{
  height: 750px;
  width: 750px;
  margin-top: 5%;
  margin-left: 37%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  column-count: 4;
}

.input-container input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: .75rem;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.balance{
  font-weight: bold;
  font-size: 100px;
}

.namingCon{
  display: flex;
}

.main{
  column-count: 4;
}

.paidCol{
  display: flex;
  flex-direction: row;
  position: relative;
  top:auto;
  left: 10px;
  font-weight: bolder;

}
.nameCol{
  display: flex;
  flex-direction: column;
  position: relative;
  top:-17px;
  left: 180px;
  font-weight: bolder;
}

.billTitle{
  display: flex;
  flex-direction: column;
  position: relative;
  top:-17px;
  left: -5px;
  font-weight: bolder;
}

.priceCol{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -15px;
  left: 400px;
  font-weight: bolder;
}

.billPrice{
  display: flex;
  flex-direction: column;
  position: relative;
  top:-17px;
  left: -5px;
  font-weight: bolder;
}

.dueDateCol{
  display: flex;
  flex-direction: row;
  position: relative;
  top:auto;
  left: 550px;
  font-weight: bolder;

}

.checkBill{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 242px;
  top: 36px;
}

.billName{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 225px;
  bottom: auto;
}

.billAmount{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 120px;
  top: auto;
  bottom: 55px;
}

.dueDate{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 320px;
  top: auto;
  bottom: 110px;
}

#addBill{
  display: none;
}

#closeBill{
  display: none;
}

#addBalance{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
